body {
    background: #599fe5;
    text-align: center;
    box-sizing: border-box;
}
header h1 {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    margin: 30px auto;
}

button {
    width: 300px;
    height: 60px;
    background: #599fe5;
    border: 2px solid white;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    margin: 5px auto;
    
    
}
button:hover {
    background: white;
    cursor: pointer;
    color: #599fe5;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #599fe5;
}
.box {
    width: 600px;
    height: 120px;
    background: #599fe5;
    border: 2px solid white;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    margin: 5px auto;
}

.box h2 {
    font-weight: 900;
}
.box h3 {
    font-weight: 600;
}